[Desktop Entry]
Type=Application
Name=Eldrun
Comment=Terminal manager
Exec=/path/to/projecteldrun/start-eldrun.sh
Icon=io.github.fseiffarth.eldrun
Terminal=false
Categories=Utility;TerminalEmulator;
StartupWMClass=eldrun
Name[en_US]=Eldrun.app
